body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

h2 {
  color: #a81d81;
  font-size: 32px;
  margin-bottom: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 5%;
}

.team-member {
  background: #e9e8ad;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;

}

/* .team-member:hover {
 
  box-shadow: 0 12px 20px rgba(104, 19, 19, 0.2);
} */

.team-member img {
  width: 200px;
  height: 200px;
  border-radius: 500%;
  object-fit: cover;
  margin-bottom: 10%;
  border: 3px solid #14749a;
}

.team-member h3 {
  margin: 10px 0 5px;
  font-size: 25px;
  font-weight: bold;
  color: #09161a;
}

.team-member p {
  margin: 0;
  color: #0b0252;
  font-size: 14px;
}

a.PortFolio_Link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #360529;
  color: #f5e0e0;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

a.PortFolio_Link:hover {
  background-color: #6d1b0e;
}
.custom-navbar {
  background-color: #4b145b; 
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .dropdown-toggle,
.custom-navbar .dropdown-item {
  color: #f7f1f1 !important; 
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-toggle:hover,
.custom-navbar .dropdown-item:hover {
  color: #ffc107 !important; 
}

.custom-navbar .dropdown-menu {
  background-color: #5d2a72; 
}

.custom-navbar .dropdown-item {
  color: #f7f1f1;
}

.custom-navbar .dropdown-item:hover {
  background-color: #7a3fa0; 
  color: #fff;
}

.custom-navbar .btn-outline-success {
  color: #fff;
  border-color: #ffc107;
}

.custom-navbar .btn-outline-success:hover {
  background-color: #ffc107;
  color: #4b145b;
}
